.description {
  margin: 5px auto;
}

.descripition__two-columns {
  display: flex;
  margin: 0 64px;
  justify-content: space-between;
}

.descripition__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.descripition__brief:hover {
  color: chartreuse;
}

.description-columns__main-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: bold;
}
