.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}

@keyframes oscilar {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}
.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  width: 730px;
  position: absolute;
  bottom: 300px;
  left: 64px;
  animation: oscilar 2s infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.header__description {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  animation: fade 2s infinite;
}

.link__header {
  background-color: aqua;
  text-decoration: none;
  color: #205fb1;
}
.link__header:hover {
  opacity: 50%;
}

@keyframes vibrar {
  0% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}
.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: -80px;
  right: 0;
  z-index: 1;
  animation: vibrar 0.3s infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__square-blue {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  animation: girar 15s linear infinite;
}

.header__square-pic {
  width: 100%;
}
